* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background-color: #000;
    color: white;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar nav ul {
    list-style-type: none;
    display: flex;
}

.navbar nav ul li {
    margin-left: 20px;
}

.navbar nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.main-content {
    height: 100vh;
    background: url('emotion .jpg') no-repeat center center/cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.overlay h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.overlay .btn {
    padding: 10px 20px;
    background-color: #fff;
    color: rgb(212, 164, 92);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 60px; /* Tambahkan margin-top untuk memberikan jarak */
}

.overlay .btn:hover {
    background-color: #ddd;
}

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px;
}
